# Plot Files #
###################
*.png
*.pdf
*.svg

# Raw input and output Files #
###################
*.in
*.out

# SQL Scripts #
###################
*.sql

# Graph input files #
###################
*.csv
*.tsv

# Database input files #
###################
*.tbl

# Compiled source #
###################
*.pyc

target/

# Eclipse etc.#
###################
.classpath
.project
.settings/
.idea

# Maven #
###################
dependency-reduced-pom.xml

# Other #
###################
org.eclipse.*
launch.json
settings.json
send_code.sh
